@import 'colors/_light_green'
@import 'colors/_green'
@import 'colors/_grey'
@import 'fonts/_montserrat'

body
    font-family: 'Montserrat'
    font-weight: 300
    margin: 0
    @extend .color-g-50
    overflow: hidden
    -webkit-text-stroke: 1px rgba(0,0,0,0.1)  // found on SO - on my Chrome fonts were rendering like poop


$menu-heigth: 80px

.menu
    width: 100%
    height: $menu-heigth
    z-index: 9999
    .logo
        background-image: url("/static/image/logo.png")
        width: 104px
        height: 72px
        margin: 5px 60px

.top
    top: 0

.fixed
    position: fixed

.container
    position: absolute
    top: $menu-heigth
    bottom: 0
    left: 0
    right: 0
    > *
        box-sizing: border-box
        float: left
        position: relative
        height: 100%
        max-height: 100%
        padding: 5px 10px



.side
    width: 20%
    padding: 60px
    @extend .color-g-50
    .header
        font-weight: 600
        padding-bottom: 30px
    .menu
        line-height: 1.8
        a
            display: block
            text-decoration: none
            color: $text-main

.desc
    padding-right: 60px
    width: 40%
    @extend .color-g-50
    line-height: 1.8
    h1
        color: $gr-400
        font-weight: 600
        padding-bottom: 20px
        margin-bottom: 20px
        border-bottom: 1px solid $g-400
    h2
        font-weight: 400


.console
    width: 40%
    @extend .color-gr-400
