{{api}}
<br/>
{% for resource in resources.values %}
  {{ resource.path|escapejs }}
  {{ resource }}
  {{ resource.description.html|safe }}
  <br/>
  <ul>
  {% for query_param in resource.query_params %}
    <li>{{ query_param.display_name }}</li>
    <li>{{ query_param.type }}</li>
    <li>{{ query_param.description }}</li>
    <li>{{ query_param.example }}</li>
    <li>{{ query_param.required }}</li>
  {% endfor %}
  </ul>

  {% if resource.method %}
    <ul>
    {% for method in resource.methods.values %}
      <li>
        {{ method.method }}
        {{ method.body.0.example }}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  <br/>
{% endfor %}
